@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@400;700&family=Montserrat:wght@300;500;600&display=swap');

/* 
font-family: 'Crimson Pro', serif; 200
font-family: 'Lora', serif; 400 700
font-family: 'Montserrat', sans-serif; 300 and 600, 500
*/

:root {
    --font-One: 'Crimson Pro', serif; /*This font for logo*/
    --font-Tow: 'Lora', serif; /*This font for first <h1></h1>*/
    --font-Three: 'Montserrat', sans-serif; /*This font for content and the card*/
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(24, 23, 25, 1);
    padding: 2.625rem 1.75rem 0 1.75rem;
}

/* ================================== header style =============================== */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo {
    font-family: var(--font-One);
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 200;
    padding: 8px;
    border: 1px solid #fff;
    color: #fff;
}
ul {
    display: flex;
}
ul li {
    margin-left: 5rem;
    list-style: none;
    font-family: var(--font-Three);
    font-weight: 500;
    font-size: 1.125rem;
}
ul li a {
    text-decoration: none;
    color: #fff;
}
.menu {
    display: none;
}


@media (max-width: 860px) {
    ul {
        display: none;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    .menu {
        display: inline;
        color: #fff;
    }
}
/* ====================================== The main section =============================== */
.contanire {
    margin-top: 2.375rem;
}
.ti-1 {
    font-family: var(--font-Tow);
    color: #fff;
    font-weight: normal;
    font-size: 2.374rem;
}

/* =============================== Section One ====================== */

.contanire .section-1 p {
    margin-top: 1.56rem;
    margin-bottom: 1.5rem;
    max-width: 60%;
    font-size: 0.87rem;
    font-family: var(--font-Three);
    font-weight: 300;
    line-height: 17px;
    color: #fff;
}
.read-more {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 10px;
}
.button {
    text-decoration: none;
    color: #fff;
    font-family: var(--font-Three);
    font-weight: 600;
    font-size: .86rem;
}
.read-more i {
    color: #fff;
}
/* =================== Section Tow ============================ */

.section-2 {
    margin-top: 2.31rem;
    position: relative;
}
.main {
    width: 100%;
}
.card {
     width: 300px;
    height: 138px;
    position: absolute;
    background: rgba(24, 23, 25, 1);
    color: white;
    left: 80px;
    bottom: -70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.avatar {
    display: flex;
    align-items: center;
}
.avatr-image {
    border-radius: 50%;
    width: 20%;
    margin: 7.32px 10.24px;
}
.info h4 {
    font-family: var(--font-Three);
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: .3rem;
}
.info p {
    font-family: var(--font-Three);
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #828282;
}
.text-de {
    font-family: var(--font-Tow);
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin: 10px 20px;
    max-width: 210px;
}
footer {
    margin-top: 100px;
}
.line {
    border: 1px solid #a9a9a9;
    width: 261px;
    margin: 1rem auto;
}
.footer-text {
    font-family: var(--font-Three);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #a9a9a9;
    text-align: center;
}


/* ================== Desktop ===================== */

@media (min-width: 868px) {
    .contanire {
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 10px;
         margin-top: 177px;
    }
    .section-2 {
        margin: 0rem;
    }
    .card {
       left: 250px;
   }
}














